.cardResource {
    max-height: 330px;
    width: 500px;
    background: #282727;
    color: #ddd;
    margin: 10px;
}

.cardResource img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dataBank {
    color:#9e4f60
}

.description {
    color: #898989
}