
.ResourceContent {
    height: 400px;
    width: 600px;
    object-fit: cover;
    background: #282727;
    color: #ddd;
}

.ResourceContent img {
    height: 80%;
    max-width: 100%;
    background: #282727;
    color: #ddd;
}