.cardRightContent {

    background: #282727;
    color: #ddd;

    /*border: 2px solid green;*/
    width:500px;
    height:90px;
    margin: 10px;
    border: 0;

}

.dataBank{
    color:#9e4f60;
}

.cardRightContent-img {
    height:inherit;
    width: 33%;
}


.cardRightContent-img img {
    width: 184px;
    height: 90px;
    display: block; /* remove extra space below image */
    margin:0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}


.content {
    height: 100%;
    background: green;
}